.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  animation: fadeIn 0.6s ease;
  .modal {
    background: #ffffff;
    padding: 40px;
    border-radius: 5px;
    position: relative;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    animation: scaleIn 0.6s ease;

    .content {
      .title {
        text-align: center;

        h2 {
          font-weight: 400;
        }
      }

      .onClose {
        background: transparent;
        border: none;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        top: 10px;
        right: 10px;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
