.footer {
  padding: 60px;
  background: #202428;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    cursor: pointer;
    img {
      width: 130px;
    }
  }

  .navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 50px;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
      @media (max-width: 800px) {
        padding: 25px;
      }
    }

  }

  .navSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;

    a {
      padding: 15px;
    }
  }
}