header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #00000040;

  .menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .btnPrev {

      @media (max-width: 600px) {
        display: none;
      }

      img {
        width: 20px;

      }
    }


    button {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;


      p {
        color: white;
        font-size: 18px;
        margin: 10px;
        @media (max-width: 600px) {
          display: none;
        }
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;

    img {
      width: 130px;
    }
  }
}