.AdvantagesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 100px;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    @media (max-width: 600px) {
      margin: 10px;
    }

    .title {
      display: flex;
      justify-content: center;

      h2 {
        color: white;
        font-size: 40px;
        font-weight: 500;
        @media (max-width: 400px) {
          font-size: 30px;
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 800px) {
        align-items: center;
      }

      p {
        color: white;
        font-size: 20px;
        padding: 20px;
      }

      button {
        margin: 20px;
        background: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        font-size: 18px;
        color: white;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }
  }

  .containerImg {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    @media (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }

    .containerImgThree {
      grid-column: 1/4;
      grid-row: 1/3;

      img {
        width: 100%;
      }
    }

    .containerImgFour {
      grid-column: 4/6;
      grid-row: 2/4;

      img {
        width: 100%;
      }
    }
  }
}