.reviewsSection {
  background: #2F353B;
  padding: 100px;

  @media (max-width: 800px) {
    padding: 30px;
  }

  .reviewsCart {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 50px;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }

    .image {
      display: flex;
      justify-content: center;
      margin-bottom: 100px;
      @media (max-width: 800px) {
        margin: 20px;
      }
      img{
        width: 100%;
      }
    }

    .description {
      color: white;
    }
  }
}