.teamDetails{
  background: #2F353B;
  .cardTeamDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom:100px;
    @media (max-width: 850px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .teamImg{
      grid-column: 1/2;
      img{
        width: 100%;

      }
    }
    .teamSummary {
      background: #202428;
      padding: 100px;
      color: white;
      grid-column: 2/3;
      @media (max-width: 550px) {
        padding: 20px;
        text-align: center;
      }
      h3{
        font-size: clamp(2.5rem, 6vw, 4rem);
      }
      span{
        font-weight: bold;
        font-size: 20px;
      }
        p{
          font-size: 20px;
        }
      button {
        margin: 20px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        font-size: 18px;
        color: #777C88;
        width: 300px;
        height: 55px;
        cursor: pointer;
        @media (max-width: 400px) {
          margin: 0;
          width: 280px;
        }
      }
    }
  }
}