.formSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    .inputForm {


      input {
        cursor: pointer;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #171717;
        
        @media (max-width: 470px) {
          width: 300px;
          
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid #000;
          transition: border-bottom 0.3s ease;
        }
        &::placeholder {
          color: #171717;
          transition: color 0.3s ease;
        }

        &:focus::placeholder {
          position: relative;
          bottom: 15px;
          left: 15px;
          font-size: 13px;
          color: #171717;
        }

      }

          input:focus + label,
          input:not(:placeholder-shown) + label{
            color: #9F9F9F;
            bottom: 50px;
            font-size: 12px;
          }

      button {
        margin: 20px;
        background: transparent;
        border: 1px solid #171717;
        border-radius: 40px;
        font-size: 18px;
        color: #171717;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }
  }
}