.recordingPage {
  .formRecording {
    .title {
      text-align: center;

      h2 {
        color:#171717;
        font-weight: 300;
        font-size: 30px;
      }
    }

    .formSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input, select {
        color: #171717;
        cursor: pointer;
        width: 350px;
        height: 50px;
        padding: 0 15px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #777C88;

        &::placeholder {
          color: #171717;
          transition: color 0.3s ease;
        }

        &:focus::placeholder {
          position: relative;
          bottom: 15px;
          left: 15px;
          font-size: 13px;
          color: #171717;
        }

        &:focus {
          outline: none;
          border-bottom: 1px solid #000;
          transition: border-bottom 0.3s ease;
        }
      }

      input[type="date"] {
        height: 70px;
      }

      select {
        width: 100%;
      }


      .submit{
        margin: 20px;
        background: transparent;
        border: 1px solid #171717;
        border-radius: 40px;
        font-size: 18px;
        color: #171717;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }
  }
}
