.backgroundSection {
  &::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0;
  }
  .container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .titleHome {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 2;

      h1 {
        font-size: clamp(2.5rem, 6vw, 4rem);
        font-weight: 300;
        color: #FFFFFF;
        text-align: center;
      }

      button {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        font-size: 18px;
        color: #777C88;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }
  }
}