.servicePage{
  .background {
    &::after {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.4);
      inset: 0;
    }

    .container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .titleHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        h2 {
          text-align: center;
          font-size: clamp(2.5rem, 6vw, 4rem);
          font-weight: 300;
          color: #FFFFFF;
        }

        button {
          background: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 40px;
          font-size: 18px;
          color: #777C88;
          width: 300px;
          height: 55px;
          cursor: pointer;
        }
      }
    }
  }

  .description {
    background: #2F353B;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .title {
      padding: 100px;
      grid-column: 3/6;
      grid-row: 1/3;

      @media (max-width: 800px) {
       padding: 50px;
      }

      p {
        color: white;
        font-size: 20px;
        font-weight: 400;
      }

      button {
        background: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 40px;
        font-size: 18px;
        color: white;
        width: 300px;
        height: 55px;
        cursor: pointer;
        @media (max-width: 800px) {
          margin: 40px;
        }
      }
    }

    .imageOne {
      grid-column: 1/3;
      grid-row: 2/4;
    }

    .imageTwo {
      grid-column: 3/6;
      grid-row: 3/5;
    }

    img {
      width: 100%;
    }
  }

  .details {
    background: #D7D8D8;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    padding: 100px 0 100px 100px;
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 100px;
    }
    @media (max-width: 600px) {
      padding: 20px;
    }

    p {
      color: #171717;
      font-size: 20px;
      font-weight: 400;
    }


    .title {
      grid-column: 1/4;
      button{
        background: transparent;
        border: 1px solid #171717;
        border-radius: 40px;
        font-size: 18px;
        color: #171717;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }

    .imageThree {
      grid-column: 4/7;

      img {
        width: 100%;
      }
    }

    .specialists {
      grid-column: 3/6;
    }
  }

  .specification{
    background: #D7D8D8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 50px;

    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0;
      padding: 50px 0;
    }

    img {
      width: 100%;
    }

    .imageFour {
      grid-column: 1/4;
      grid-row: 1/3;
    }

    .imageFive {
      grid-column: 4/6;
      grid-row: 2/3;
    }

    .imageSix {
      grid-column: 1/3;
      grid-row: 3/5;
      padding: 100px 0;
    }

    .info{
      grid-column: 3/6;
      grid-row: 3/5;
      padding: 0 100px;

      @media (max-width: 600px) {
        padding:20px;
      }
      p {
        color: #171717;
        font-size: 20px;
        font-weight: 400;
      }
      button{
        background: transparent;
        border: 1px solid #171717;
        border-radius: 40px;
        font-size: 18px;
        color: #171717;
        width: 300px;
        height: 55px;
        cursor: pointer;
      }
    }
  }


}